body {
    color: black;
  }

.jumbotron {
  background-image: url("header.jpg");
  background-size: 100% 100%;
  text-align: center;
  color: white;
}

body {
    font: normal 10px Verdana, Arial, sans-serif;
}
