body {
    color: black;
    font: normal 10px Verdana, Arial, sans-serif;
  }

.jumbotron {
  background-image: url("header.jpg");
  background-size: 100% 100%;
  text-align: center;
  color: white;
}

.well {
  background-color: "#006666";
  font-family: Calibri;
  color:black;
  font-weight: bolder;
}